In [2]:
import pandas as pd
import numpy as np

In [3]:
A1=pd.Series(np.random.rand(4))
A2=pd.Series(np.random.rand(4))
A3=pd.Series(np.random.rand(4))
A4=pd.Series(np.random.rand(4))
print(A1,A2,A3,A4)
df=pd.DataFrame([A1,A2,A3,A4])

0    0.164301
1    0.583933
2    0.415329
3    0.980107
dtype: float64 0    0.752119
1    0.624073
2    0.315356
3    0.655750
dtype: float64 0    0.258225
1    0.704454
2    0.212587
3    0.433961
dtype: float64 0    0.941639
1    0.467373
2    0.325354
3    0.122030
dtype: float64

In [4]:
#TASK1
df

          0         1         2         3
0  0.164301  0.583933  0.415329  0.980107
1  0.752119  0.624073  0.315356  0.655750
2  0.258225  0.704454  0.212587  0.433961
3  0.941639  0.467373  0.325354  0.122030

In [6]:
#TASK2
df.columns=['Random Value 1','Random Value 2','Random Value 3','Random Value 4']
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.164301        0.583933        0.415329        0.980107
1        0.752119        0.624073        0.315356        0.655750
2        0.258225        0.704454        0.212587        0.433961
3        0.941639        0.467373        0.325354        0.122030

In [7]:
#TASK3
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.529071        0.594958        0.317156        0.547962
std          0.376996        0.098719        0.082952        0.361839
min          0.164301        0.467373        0.212587        0.122030
25%          0.234744        0.554793        0.289664        0.355978
50%          0.505172        0.604003        0.320355        0.544856
75%          0.799499        0.644168        0.347847        0.736839
max          0.941639        0.704454        0.415329        0.980107

In [8]:
df.describe(include='all')

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.529071        0.594958        0.317156        0.547962
std          0.376996        0.098719        0.082952        0.361839
min          0.164301        0.467373        0.212587        0.122030
25%          0.234744        0.554793        0.289664        0.355978
50%          0.505172        0.604003        0.320355        0.544856
75%          0.799499        0.644168        0.347847        0.736839
max          0.941639        0.704454        0.415329        0.980107

In [9]:
#TASK4
df.isnull().sum()
#Numeric Type

Random Value 1    0
Random Value 2    0
Random Value 3    0
Random Value 4    0
dtype: int64

In [12]:
df.isnull() 
#(boolean)

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [14]:
print('column1 datatype is',df['Random Value 1'].dtype)
print('column2 datatype is',df['Random Value 2'].dtype)
print('column3 datatype is',df['Random Value 3'].dtype)
print('column4 datatype is',df['Random Value 4'].dtype)

column1 datatype is float64
column2 datatype is float64
column3 datatype is float64
column4 datatype is float64

In [18]:
#TASK5
df.loc[0:4,'Random Value 2':'Random Value 3'] 
#Location

   Random Value 2  Random Value 3
0        0.583933        0.415329
1        0.624073        0.315356
2        0.704454        0.212587
3        0.467373        0.325354

In [19]:
df.iloc[0:,1:3]
#Index Location (0:index location elements , 1:3 column range)

   Random Value 2  Random Value 3
0        0.583933        0.415329
1        0.624073        0.315356
2        0.704454        0.212587
3        0.467373        0.325354