###Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

###Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

###Task - 3 Find the descriptive statistics of the 'df' dataframe.

###Task - 4 Check for the null values in 'df' and find the data type of the columns.

###Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

#Name: Shruti Goyal
#Register Number: 20MIC0059
#Mail ID: shruti.goyal2020@vitstudent.ac.in

In [ ]:
#import the necessary libraries

import numpy as np
import pandas as pd

In [ ]:
s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))

In [ ]:
#creating the dataframe df with 4 features and 4 observations
df = pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.296226  0.768801  0.632959  0.194232
1  0.727527  0.034722  0.540168  0.582885
2  0.935939  0.484429  0.304442  0.186364
3  0.490495  0.759675  0.586491  0.757407

In [ ]:
#renaming the columns

df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.296226        0.768801        0.632959        0.194232
1        0.727527        0.034722        0.540168        0.582885
2        0.935939        0.484429        0.304442        0.186364
3        0.490495        0.759675        0.586491        0.757407

In [ ]:
#to check the descriptive stats

df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.612547        0.511907        0.516015        0.430222
std          0.278543        0.344405        0.146047        0.286074
min          0.296226        0.034722        0.304442        0.186364
25%          0.441928        0.372002        0.481237        0.192265
50%          0.609011        0.622052        0.563330        0.388559
75%          0.779630        0.761956        0.598108        0.626516
max          0.935939        0.768801        0.632959        0.757407

In [ ]:
#to check for the null values

df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
#to check for null values column wise

df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
#to check for null values and datatype

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [ ]:
#display random value 2 and random value 3 using location method and index location method

df.iloc[:,1:3]

   Random value 2  Random value 3
0        0.768801        0.632959
1        0.034722        0.540168
2        0.484429        0.304442
3        0.759675        0.586491

In [ ]:
df.loc[:,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.768801        0.632959
1        0.034722        0.540168
2        0.484429        0.304442
3        0.759675        0.586491